* {
  margin: 0;
  padding: 0;
}

body {
  background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-color: #295fa5c2;
  background-size: 10px 10px;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

#root {
  margin: 0; 
  padding: 0;
  text-align: center;
}

/* Contenedor de los tabs */
.custom-tabs .ant-tabs-nav {
  display: flex;
  justify-content: center;
  background-color: #295EA5;
  padding: 10px 0;
  margin-top: 1em;
}

/* Estilo de cada tab */
.custom-tabs .ant-tabs-tab {
  font-size: 100%;
  font-weight: bold;
  color: #ffffff;
  margin: 0 15px;
  padding: 10px 20px;
  transition: all 0.3s ease;
}

/* Hover de la pestaña */
.custom-tabs .ant-tabs-tab:hover {
  background-color: #f8f8f8;
  border-radius: 5px;
  color: #111e47;
}

/* Hover sobre la pestaña activa: cambiar el color a negro */
.custom-tabs .ant-tabs-tab.ant-tabs-tab-active:hover .ant-tabs-tab-btn {
  color: #000; /* Cambiar a negro cuando esté activa y se haga hover */
}

/* Tab activo */
.custom-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #ffeb3b; /* Mantiene el color original cuando está activa */
}

/* Línea del tab activo */
.custom-tabs .ant-tabs-ink-bar {
  background-color: #ffeb3b;
}

.institutional-horizon {
  display: flex;
  justify-content: space-around;
  padding: 2em;
}

.card {
  width: 40%;
  border: 2px solid;
  border-radius: 10px;
  padding: 1em;
  text-align: justify;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.card-icon {
  text-align: center;
  font-size: 3em;
  margin-bottom: 0.5em;
}

.card-title {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.card-text {
  color: #555;
}

.institutional-principles {
  padding: 2em;
  max-width: 800px;
  margin: 0 auto;
}

.collapsible-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 1em;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out, background-color 0.3s ease-out;
}

.collapsible-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  background-color: #f0f4f8;
}

.card-header {
  background-color: #f9f9f9;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease-out;
}

.card-header h3 {
  margin: 0;
}

.card-header button {
  background: none;
  border: none;
  font-size: 1.5em;
  line-height: 1;
  padding: 0;
  cursor: pointer;
}

.card-header:hover {
  background-color: #e9ecef;
}

.card-content {
  text-align: justify;
  padding: 1em;
  background-color: #fff;
}

/* ContactForm.css */
.contact-container {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.contact{
  width: 60%;
}

.contact-title {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  scroll-padding-top: 10px;
  border-bottom: 2px solid #1890ff;
  border-top: 2px solid #1890ff;
  display: inline-block;
}

.contact-form {
  max-width: 500px;
  margin: 0;
  padding: 20px;
  background: #ffffffc5;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form .ant-form-item-label > label {
  font-weight: bold;
  color: #333;
}

.custom-input {
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  padding: 10px;
  transition: all 0.3s ease;
}

.custom-input:focus,
.custom-input:hover {
  border-color: #40a9ff;
  box-shadow: 0 0 8px rgba(64, 169, 255, 0.3);
}

.submit-button {
  width: 100%;
  background-color: #1890ff;
  border-color: #1890ff;
  border-radius: 5px;
  height: 40px;
  font-size: 16px;
}

.submit-button:hover,
.submit-button:focus {
  background-color: #40a9ff;
  border-color: #40a9ff;
  box-shadow: 0 4px 12px rgba(64, 169, 255, 0.3);
}


.contact-form {
  max-width: 500px;
  margin: 0;
  padding: 20px;
  background: #ffffffc5;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-image img{
  width: 80%;
  object-fit: cover;
  border-radius: 10px;
}